.main-section {
    background-color: #CEB02A;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #FFF504;
}

.main-section .main-title {
    margin-bottom: 50px;
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bdFirst {
    border-color: #FFF504;
}

.main-section.-bdBlack {
    border-color: #000;
}
