.section {
    background-color: #FFF504;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #CEB02A;
}

.section .main-title {
    margin-bottom: 50px;
}

.section.-bgBlack {
    background-color: #000;
}

.section.-bdFirst {
    border-color:#CEB02A;;
}